.home-wrapper {
  .landing-page {
    .title-container {
      .home-title {
        display: flex;
        justify-content: center;
        color: #3a546b;
        font-family: Open Sans;
      }
    }
  }
}
