.card-wrapper {
  width: 260px;
  display: inline-flex;
  margin: 12px;
  cursor: pointer;

  .card {
    width: 260px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

    .card-body {
      background-color: #f8f9f9;

      .card-title {
        font-family: sans-serif;
        color: #3a546b;
      }
    }

    .img-container {
      .empty-card {
        font-size: 260px !important;
      }
    }
  }
}

.k-card {
  transition: all 0.2s ease-in-out;
}

.k-card:hover {
  transform: scale(1.1);
}
